_DOMAIN=\"${_DOMAIN}\"
_DEVICE_ID=\"${_DEVICE_ID}\"
_NAMESPACE=\"${_IOT_REGISTRY}\"
_FIRST_USER_NAME=\"${_FIRST_USER_NAME}\"
_FIRST_USER_PASS=\"${_FIRST_USER_PASS}\"
_FIRST_USER_KEY=\"${_FIRST_USER_KEY}\"
_RSA_PUBLIC=\"${_RSA_PUBLIC}\"
_RSA_PRIVATE=\"${_RSA_PRIVATE}\"
_K3S_TOKEN=\"${_K3S_TOKEN}\"
